#black{
    background-color: #1a1a1a;
    color: rgb(200,200,200)
}

#white{
    background-color: rgb(240,240,240);
    color: #1a1a1a;
}

#sad{
    background-color: #0f172a;
    color: #818cf8;
}

#royal{
    background: #172554;
    color: tomato;
}

#pink{
    background-color: pink;
    color: rgb(128, 66, 87);

}