#black{
    background-color: #1a1a1a;
    color: rgb(200 200 200)
}

#white{
    background-color: rgb(240 240 240);
    color: #1a1a1a;
}

#sad{
    background-color: #1e2f53;
    color: #818cf8;
}

#royal{
    background: #172554;
    color: tomato;
}

#pink{
    background-color: pink;
    color: rgb(128 66 87);

}

#sky{
    background-color: rgb(60 157 255);
    color: white;

}

#coffee{
    background-color: rgb(51 35 24);
    color: goldenrod;
}